@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@700&family=Open+Sans&display=swap');

:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --blue: #0086B0;
  --opensans: 'Open Sans', sans-serif;
  --Harmattan:'Harmattan', sans-serif;

}
